vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Mar 2005 17:06:36 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|07 Mar 2005 17:06:36 -0000
vti_filesize:IR|4830
vti_cachedlinkinfo:VX|S|menuarrow.gif
vti_cachedsvcrellinks:VX|FSUS|avata/jscalendar-1.0/menuarrow.gif
vti_backlinkinfo:VX|avata/jscalendar-1.0/index.html
